/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1.15em;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 1.25em;
    }

    .projects .project{
        text-align: center;
    }

    .project h2 {
        text-align: center;
    }
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #CCC;
    text-shadow: none;
}

::selection {
    background: #CCC;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.wf-loading * {
    visibility: hidden;
}

html * {
    box-model: border-box;
}

body {
    margin-top: 50px;
    background: white;
}

body > div {
    border: 1px dashed #4c4c4c;
    padding-top: 40px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

p, blockquote, footer, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #4c4c4c;
}

h2 {
    font-size: 1.15em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #4c4c4c;
    transition: transform .1s linear;
    transition: box-shadow .1s linear;
    transition: color .25s ease-in-out, -webkit-transform .1s linear;
    display:block;
    box-shadow: 0 0 3px white, 0 0 3px white, 0 0 3px white, 0 0 3px white;
    border-radius: 5px;
    padding: 2px;
}

a:focus {
    outline: none;
    box-shadow: -2px -2px 3px #919152, 2px -2px 3px #919152, -2px 2px 3px #919152, 2px 2px 3px #919152;
    background: #919152;
    color: white;
}

a.skipnav {
    display:none;
}

a.skipnav:focus {
    display: block;
}

footer a {
    display: inline;
}

a:hover, a.hovered {
    color: #919152;
}

.homepage footer p a {
    letter-spacing: 0em;
    color: gray;
    text-decoration: none;
}

.center {
    text-align: center;
}

.bigger {
    font-size: 34px;
    vertical-align: middle;
}

.smaller {
    font-size: .85em;
}

.bolder {
    font-weight: 300;
}

.emphasized {
    color: #222;
}

.pushdown {
    margin-top: 15%;
}

.height-1-5 {
    line-height: 150%;
}

blockquote {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.dawning-big {
    font-family: 'Dawning of a New Day', sans-serif;
    font-size: 1.5em;
}

.homepage body {
    background: none;
}

.homepage header, .homepage p, footer, .logo p {
    text-align: center;
    text-indent: 0;
}

.homepage header {
    font-family: 'Homemade Apple', sans-serif;
    letter-spacing: .75em;
}

.homepage img {
    max-height: 50%;
}

.homepage header, .homepage p, .homepage footer {
    color: #666;
}

.homepage p a {
    letter-spacing: .5em;
    color: #666;
    display: inline;
}

.homepage p a:hover {
    color: #919152;
}

.logo.grid-parent {
    background: #FFF;
    padding: 5px;
}

.logo div {
    border: 1px solid #666;
    box-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
    transition: box-shadow .25s ease-in-out;
}

.logo p {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.15em;
    text-transform: uppercase;
    color: #666;
    transition: color .25s ease-in-out;
}

.logo div:hover {
    box-shadow: -2px -2px 3px #919152, 2px -2px 3px #919152, -2px 2px 3px #919152, 2px 2px 3px #919152;
}

.logo:hover p{
    color: #919152;
}

.hoverBold a {
    display: inline-block;
}

.hoverBold a.hovered {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

nav ul {
    padding: 0;
    margin: 45px 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: .8em;
}

nav li {
    margin: 1em auto;
}

nav p {
    text-indent: 0;
}

nav .current {
    font-size: 1.5em;
    text-shadow: 1px 2px 3px #D9D97B;
}

.main-content {
    text-align: justify;
    margin-top: 2em;
}

.bio-text {
    margin: 2em 0 3em;
}

.project {
    margin-bottom: 2em;
}

.touch .project img {
    opacity: 1;
}

.project img, .fake-image {
    opacity: .75;
    transition: all .25s ease-in-out;
}

.project img.grayscale {
    -webkit-filter: grayscale(1);
}

.project:hover img, .project.hovered img, .project.hovered .fake-image {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.projects {
    text-align: right;
}

.fake-image {
    display: block;
    width: 100%;
    line-height: 189px;
    margin: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
