{% extends '::base.html.twig' %}

{% block body -%}
    {% for entity in entities %}
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
    {% endfor %}
    <a href="{{ path('category_new') }}">Create a new entry</a>
{% endblock %}
