.projects-nav {
  margin: 5em auto;
  display: flex;
  justify-content: center;

  a {
    padding: 0 .5em;
    margin: 0 1.5em;
    border-bottom: 2px solid transparent;
    transition: all .3s;

    &.active {
      color: cadetblue;
      border-bottom: 2px solid cadetblue;
    }

    &:hover {
      color: cadetblue;
    }
  }
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .project {
    display: block;
    text-align: center;
    margin: 1em .5em;
    max-width: 400px;
    transition: opacity .3s;
  }
}
