.projects-nav {
  margin: 5em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }

  a {
    padding: 0 .5em;
    margin: 0 1.5em;
    border-bottom: 2px solid transparent;
    -webkit-transition: color $animation-timing;
    transition: color $animation-timing;

    &.active {
      color: #1880b0;
      padding-bottom: 3px;
      border-bottom: 2px solid #1880b0;
    }

    &:not(.active):hover {
      color: #5eb4dc;
    }
  }
}

.credits {
  margin-bottom: 4em;
}

.projects {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1600px;
  row-gap: 4em;
  column-gap: 3em;
  padding: 0 3em 3em;

  flex-wrap: wrap;
  min-height: 100vh;

  .project {
    display: block;
    text-align: center;
    max-width: 400px;

    h1 {
      font-size: 1.75em;
    }

    h2 {
      font-size: .85em;
      letter-spacing: .15em;
      font-weight: normal;
    }

    img {
      margin-bottom: 1em;
      object-fit: cover;
    }
  }
}
