.slides {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;

  li {
    position: relative;
    display: inline-block;
    width: 100%;
  }
}

.carousel li {
  position: absolute;
  display: block;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;

  img, picture {
    max-height: calc(100vh - $nav-height);
    max-width: 100%;
    object-fit: contain;
  }

  &.active {
    opacity: 1;
    z-index: 1;
  }
}
